:host {
  display: block;
  user-select: none;
}

:host.drag-on .tree-row {
  background-color: rgba(33, 150, 243, 0.1);
  outline: 2px solid #2196F3;
  outline-offset: -2px;
}

:host.drag-above {
  box-shadow: inset 0 2px 0 #2196F3 !important;
}

:host.drag-below {
  box-shadow: inset 0 -2px 0 #2196F3 !important;
}


.tree-label {
  vertical-align: middle;
  background-image: none !important;
  padding-inline-start: 0 !important;
  -webkit-padding-start: 0 !important;
}

// Expand icon styles - moved here to ensure they're bundled with component
.expand-icon {
  transform: rotate(-90deg);
  transition: all 150ms;
  -webkit-transition: all 150ms;
  background: url('/assets/icons/expand-arrow.svg') no-repeat center center;
  background-size: 8px 5px;
  display: inline-block;
  height: 16px;
  opacity: 0.6;
  position: relative;
  top: 6px;
  vertical-align: top;
  width: 16px;
}

.tree-item[expanded] > .tree-row > .expand-icon {
  transform: rotate(0);
  background-image: url('/assets/icons/expand-arrow.svg');
  opacity: 0.5;
}

:host-context(.dark-theme) .expand-icon {
  filter: brightness(0) invert(1);
}

.tree-row .expand-icon {
  visibility: hidden;
}

.tree-row[may-have-children] .expand-icon {
  visibility: visible;
}

.tree-row[has-children=false] .expand-icon {
  visibility: hidden;
}
