// @import '@ngx-nova/material-extensions-table-virtual-scroll/styles/virtual-scroll.scss';
:host {
  overflow-y: auto;
}

table {
  width: 100%;
}

list > [selected],
grid > [selected],
tr[selected] {
  background-color: hsl(0, 0%, 90%);
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.8),
  rgba(255, 255, 255, 0));
  border-color: hsl(0, 0%, 85%);
  z-index: 2;
}

list:focus > [selected],
grid:focus > [selected],
tr:focus[selected] {
  background-color: hsl(214, 91%, 89%);
  border-color: hsl(214, 91%, 65%);
}

mat-row {
  line-height: 20px;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: hsl(214, 91%, 97%);
  border-color: hsl(214, 91%, 85%);
  z-index: 1;
}


list:not([disabled]) > :hover,
grid:not([disabled]) > :hover {

}

list:focus > [lead][selected],
list > [selected]:hover,
grid:focus > [lead][selected],
grid > [selected]:hover,
tr:hover {
  background-color: hsl(214, 91%, 87%);
  border-color: hsl(214, 91%, 65%);
}

::ng-deep {
  --interactive-color: #2196F3; // Material Blue

  .drag-above>td {
    box-shadow: inset 0 2px 0 #2196F3 !important;
    /* Top line */
  }

  .drag-below>td {
    box-shadow: inset 0 -2px 0 #2196F3 !important;
    /* Bottom line */
  }

  .drag-on>td {
    background-color: rgba(33, 150, 243, 0.1) !important;
    outline: 2px solid #2196F3 !important;
    outline-offset: -2px;
  }

}

table td {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 150px;
  white-space: nowrap;
}
