<table>
  <thead>
  <tr>
    <th *ngFor="let column of displayedColumns" (click)="orderBy(column.name)">
      <span *ngIf="orderProperties.column == column.name">
        <span>{{ orderProperties.asc ? 'ASC' : 'DESC' }}</span>
      </span>
      {{column.title}}
    </th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items"
        (dblclick)="itemDoubleClick(item)"
        (click)="itemClick($event, item)"
        [attr.selected]="isSelected(item) ? true : null"
        [attr.itemId]="item.id"
        draggable="true">
      <td *ngFor="let column of displayedColumns">
        @if (column.name === 'title') {
          @if (!item.children) {
            <img alt="" [src]="getFavicon(item)" />
          } @else {
            <span class="tree-label"></span>
          }
        }
        {{getColumnValue(item, column.name)}}
      </td>
    </tr>
  </tbody>
</table>
