<table>
  <thead>
  <tr>
    <th *ngFor="let column of displayedColumns" (click)="orderBy(column.name)">
      <span *ngIf="orderProperties.column == column.name">
        <span *ngIf="orderProperties.asc">ASC</span>
        <span *ngIf="!orderProperties.asc">DESC</span>
      </span>
      {{column.title}}
    </th>
  </tr>
  </thead>
  <tbody [dragula]='"bookmarks"'>
    <tr *ngFor="let item of items" (dblclick)="itemDoubleClick(item)" (click)="itemClick(item)">
      <td *ngFor="let column of displayedColumns">
        {{getColumnValue(item, column.name)}}
      </td>
    </tr>
  </tbody>
</table>
