.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 0fr auto;
  grid-template-areas:
    "header header"
    "tree-view main"
    "tree-view main";
}

.tree-view {
  grid-area: tree-view;
  overflow-y: auto;
}

.main-view {
  grid-area: main;
  overflow-y: auto;
  display: grid;
  grid-template-rows: 1fr 100px;
}

app-search-box {
  margin-top: auto;
  margin-bottom: auto;
}

