<div class="container">
  <div class="top-toolbar">
    <h1>Bookmarks manager</h1>
    <app-search-box (searchTermChange)="search($event)"></app-search-box>
  </div>
  <div class="tree-view">
    <app-tree-view
      [directories]="directories$ | async"
    >
    </app-tree-view>
  </div>
  <div class="main-view">
    <app-list-view
      [items]="items$ | async"
      [selectedItems]="(selectedItems$ | async)!"
    ></app-list-view>
    <app-bookmark-detail [selection]="selectedBookmarks$ | async"></app-bookmark-detail>
  </div>
</div>
