.list-icon {
  width: 16px;
  height: 16px;
  font-size: 16px;
  margin-right: 8px;
  vertical-align: middle;
  color: #5f6368;
}

mat-cell img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  vertical-align: middle;
}
