name: Deploy PR Preview

on:
  pull_request:
    types: [opened, synchronize, reopened, closed]
  
# Needed for nx-set-shas when run on the main branch
permissions:
  actions: read
  contents: read
  checks: write # needed for test reporter
  pull-requests: write # needed for commenting on PRs

jobs:
  deploy:
    if: github.event.action != 'closed'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v4
        with:
          version: 10

      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'pnpm'

      - run: pnpm install --frozen-lockfile

      - name: Run Unit Tests
        run: npm run test:unit

      - name: Run E2E Tests
        if: always()
        run: npm run test:e2e

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v4
        if: success() || failure() # always run even if the previous step fails
        with:
          report_paths: '**/test-results/*.xml'

      - name: Deploy Preview
        id: deploy
        uses: ./.github/actions/preview
        with:
          action: 'deploy'
          ssh_host: ${{ secrets.SSH_HOST }}
          ssh_port: ${{ secrets.SSH_PORT }}
          ssh_user: ${{ secrets.SSH_USER }}
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
          ssh_password: ${{ secrets.SSH_PASSWORD }}
          project_name: 'bookmarks'
          build_command: 'npm run build:dev'
          dist_dir: 'dist/bookmarks'
          slug: 'pr-${{ github.event.number }}'
          pr_number: ${{ github.event.number }}

  cleanup:
    if: github.event.action == 'closed'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Remove Preview
        uses: ./.github/actions/preview
        with:
          action: 'cleanup'
          ssh_host: ${{ secrets.SSH_HOST }}
          ssh_port: ${{ secrets.SSH_PORT }}
          ssh_user: ${{ secrets.SSH_USER }}
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
          ssh_password: ${{ secrets.SSH_PASSWORD }}
          project_name: 'bookmarks'
          slug: 'pr-${{ github.event.number }}'
          pr_number: ${{ github.event.number }}

